<!-- User Dashboard view -->
<!-- how to distinguish views of teachers vs students? -->

<%- include('partials/header') -%>

<!-- Welcome User Section -->
  <section id="welcomeUser">
    <div class="container">
      <div class="row align-items-left">
        <div class="col col-10">
          <h1>Welcome, <span><%= user.firstNameChild %></span>!</h1>
          <div class="container">
            <p>A little bit about your reading:</p>
            <ul>
              <li>You have read #### books</li>
              <li>Those books had a total of #### pages!</li>
              <li>You have written #### words total about these books</li>
              <li>You have added #### images related to them, too.</li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="container">
            <div class="row">
              <!--
              <div class="col">
                <button id="accountInfoMore" class="btn greyRoundButton btn-lg" type="button" name="button">View Account Details</button>
                <button id="accountInfoLess" class="btn greyRoundButton btn-lg" type="button" name="button">Hide Account Details</button>
              </div>
              -->
              <div class="col">
                <div id="accountDetails">
                  <dl class="">
                    <dt>Student Name:</dt>
                    <dd><%= user.firstNameChild %></dd>
                    <dt>Username:</dt>
                    <dd><%= user.userName %></dd>
                    <dt>Parent e-mail:</dt>
                    <dd><%= user.email %></dd>
                  </dl>
                </div>
              </div>
            </div>
        </div>

        </div>

        <!-- Nav with image links to add post, class, friends, messages, setting -->

      </div>
      <div class="row align-items-left">
        <!-- Message from teacher section -->
        <!-- Able to minimize? -->
        <div class="">

        </div>
      </div>
    </div>
  </section>
<!-- End Welcome User Section -->

<!-- Book Search Section -->
<section id="bookSearch">
  <div class="container">
    <div class="row">
      <h2>What are you Reading? Share it</h2>
      <p>Please search for your book using the input boxes below. Be sure to use the full title and author if you can.</p>
    </div>
    <div id="searchGoogle">
      <div class="row align-items-left">
        <h3>Search for a book</h3>
      </div>

      <div class="row align-items-center" id="searchGoogle">
        <div class="col-md-4 d-flex justify-content-center">
          <input type="text" id="title" placeholder="title">
          <input type="text" id="author" placeholder="author">
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <button id="submit" type="button" class="btn greyRoundButton btn-lg">Search</button>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- End Book Search Section -->

  <!-- div containing 3 most recent books -->

  <!-- card with big plus sign to reveal book search div -->
  <!-- arrow to reveal next 3 results -->

<!-- Add Post Section -->
  <section id="addAPost">
    <div class="container">
      <form id="post" action="/post/createPost" enctype="multipart/form-data" method='POST'>
        <div class="container">
          <div id="results" class="row cards">
            <h3>Select a book:</h3>
          </div>

          <!--<ul id="results"></ul>-->
          <div class="pt-3">
            <button id="moreResults" type="button" class="btn greyRoundButton btn-lg">See More Results</button>
            <button id="newSearch" type="button" class="btn greyRoundButton btn-lg">New Search</button>
          </div>
        </div>
        <div class="container">
          <div class="row cards" style="max-height:300px">
            <div class="col">
              <div class="row">
                <img id="uploadPreview" style="height:200px; width:auto" />
              </div>
              <div class="row file file--upload ">
                <label id="labelUpload" for='imageUpload' class="btn greyRoundButton btn-lg">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2f2e41" class="bi bi-upload" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                  </svg>
                  Add a Picture
                </label>
                <input type="file" class="form-control hide" id="imageUpload" name="file" accept="image/*" onchange="loadFile(event)" />
              </div>
            </div>
            <div class='col justify-content-center'>
              <div class="row">
                <input type="text" placeholder="What did you think?" name='post'>
              </div>
              <div class="row">
                <input type="text" placeholder="Tell us more" name='postBody' style="height:100px">
              </div>
              <div class="row">
                <button type="submit" class="btn greyRoundButton btn-lg" value="Add Post">Share Now</button>
              </div>
            </div>
          </div>
        </div>


      </form>
    </div>
  </section>
<!-- End Add Post Section -->
  <!-- Insert button to reveal add post form, a lightbox maybe? -->


<!-- Recent Posts Section -->
<section id="recentPosts">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Your Latest Posts</h2>
      </div>
      <div class="col">
        <button id="seeAllPosts" class="btn greyRoundButton btn-lg" value="See all posts">See All Posts</button>
      </div>
    </div>
    <div class="row">
      <% for (let i=post.length-1; i>=Math.max(post.length-3,0); i--) { %>

        <div class="col">
          <a href="/postPage/<%= post[i]._id%>">
            <div class="card my-2" style="width: 25rem;">
              <div class="card-header" style="height: 12rem">
                <div class="row">
                  <div class="col">
                    <div class="container">
                      <img src="<%= post[i].bookThumbnail %>" alt="<%= post[i].bookTitle %>" class="img-fluid" style="max-width:80% !important">
                    </div>
                  </div>
                  <div class="col">
                    <h4><%= post[i].bookTitle %></h4>
                    <span><%= post[i].bookAuthor %></span>
                  </div>
                </div>
              </div>
              <div class="card-body" style="height: 15rem">
                <div class="row">
                  <div class="col">
                    <h5><%= post[i].post %></h5>
                    <p><%= post[i].postBody.substring(0,90) %><% if (post[i].postBody.length > 90){ %>...<%} %></p>
                  </div>
                  <% if (post[i].image) { %>
                    <div class="col">
                      <div class="container">
                        <img src="<%= post[i].image %>" alt="<%= post[i].bookTitle %> project" class="img-fluid">
                      </div>

                    </div>
                  <% } %>
                </div>
              </div>
            </div>
          </a>
        </div>

      <% } %>
      <div class="card">

      </div>
    </div>
  </div>
</section>
<!-- End Recent Posts Section -->

<!-- All Posts Section -->
<section id="allPosts">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>All Your Posts</h2>
      </div>
      <div class="col">
        <button id="seeLessPosts" class="btn greyRoundButton btn-lg" value="See all posts">See Less Posts</button>
      </div>
    </div>
    <div class="row">
      <% for (let i=post.length-1; i>=0; i--) { %>

        <div class="col">
          <a href="/postPage/<%= post[i]._id%>">
            <div class="card my-2" style="width: 25rem;">
              <div class="card-header" style="height: 12rem;">
                <div class="row">
                  <div class="col">
                    <div class="container">
                      <img src="<%= post[i].bookThumbnail %>" alt="<%= post[i].bookTitle %>" class="img-fluid" style="max-width:80% !important">
                    </div>
                  </div>
                  <div class="col">
                    <h4><%= post[i].bookTitle %></h4>
                    <span><%= post[i].bookAuthor %></span>
                  </div>
                </div>
              </div>
              <div class="card-body" style="height: 15rem">
                <div class="row">
                  <div class="col">
                    <h5><%= post[i].post %></h5>
                    <p><%= post[i].postBody.substring(0,90) %><% if (post[i].postBody.length > 90){ %>...<%} %></p>
                  </div>
                  <% if (post[i].image) { %>
                    <div class="col">
                      <div class="container">
                        <img src="<%= post[i].image %>" alt="<%= post[i].bookTitle %> project" class="img-fluid">
                      </div>
                    </div>
                  <% } %>
                </div>
              </div>
            </div>
          </a>
        </div>

      <% } %>
    </div>
  </div>
</section>
<!-- End All Posts Section -->



  <!-- Vertical feed of your friends' posts -->
  <!-- Associated book on left, what your friend did on right -->


<!-- what is all this? -->
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>
    <% } %>


    <script src="/js/main.js"></script>
    <script src="/js/postPage.js"></script>
    <%- include('partials/footer') -%>
